html *{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*=========CSS Header========*/
header{
    background-color: #BBB;
    padding: 20px 0;    
    box-sizing:border-box;
    border: 5px solid #000;
    border-radius: 7.5%;
}

.cabecalho{
    position: relative;
    width: 940px;    
    margin: auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 0.9375rem;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #C78C19;
}

/*=======CSS Main============*/
.produtos{
    width: 940px;
    margin: auto;
    padding: 3.125rem 0;
}

.produtos li{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.50%;    
    padding: 1.5rem 1.25rem;
    border: solid #000;
    border-width: 12px 2px 12px 2px;
    border-radius: 10%;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:hover h2{
    font-size: 2rem;
    color: #C78C19;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:active h2{
    color: #088C19;
}

.produtos h2{
    font-size: 1.875rem;
    font-weight: bold;
}

.descricao{
    font-size: 1.125rem;
}

.preco{
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 0.625rem;
}

/*=====CSS Footer======*/

footer{
    background-image: url(./images/bg.jpg);
    text-align: center;
    padding: 2.5rem 0;
}

.copyright{
    color: #FFF;
    font-size: 0.8rem;
    margin-top: 1.25rem;
}